<configuration>
  <configSections>
    <section name="nancyFx" type="Nancy.Hosting.Aspnet.NancyFxSection" />
  </configSections>

  <system.web>
    <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </httpHandlers>
    <httpRuntime executionTimeout="300" />
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers>
    <httpErrors errorMode="Detailed" />
  </system.webServer>
  
  <nancyFx>
    <bootstrapper assembly="dummy" type="Tim.TryFSharp.Intellisense.Server.Bootstrapper, Tim.TryFSharp.Intellisense.Server"/>
  </nancyFx>
</configuration>
